.News-column-title {
	font-family: 'Tangerine', cursive;
	padding: .2em;
	padding-bottom: 0;
	color: #f9d1a1;
	font-size: 4.6em;
	margin: 0;
}

@media only screen and (max-width: 768px) {
	.News-column-title {
		font-size: 3em;
	}
}